.sign__signin {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 770px) {
  .sign__signin {
    padding-top: 20px;
  }
}
