.card__heart {
  min-width: 22px;
  min-height: 22px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: center no-repeat url("../../../images/Icon_heart_default.svg");
  transition: opacity 0.3s;
}

.card__heart:hover {
  opacity: 0.5;
}
